main{
  background-color: #F5F5F5;
  border-radius: 10px;
  min-height: 320px;
  max-width: 800px; 
  display: flex;
  justify-content: center;
}
.die{
  height: 36px;
  width: 36px;
  background-color: aqua;
  text-align: center;
  margin: auto;
}